section{
    background: url(mountain4.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

