#navbar{
    width: 1340px;
    background-color: blue;
    text-align: center;
}
h1{
    color:white;
}
p{
    color:white;
}
h2{
    color:blue;
}
h3{
    height: 80px;
    width: 1300px;
    padding: 10px;
    border:1px solid #ccc;
    font-weight: lighter;
    font-family: serif;
}
h5{
    height: 50px;
    width: 1200px;
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    font-family: sans-serif;
}
button{  
  background-color: blue;
  height:45px;
  width: 190px;
  border: none;
  padding: 10px;
  margin: 5px;
  color: white;
}
input{
    height:30px;
  width:180px;
}
